<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Django</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                    <a class="nav-link" href="{% url 'basic_app:register' %}">Registration</a>

                    {% if user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'logout' %}">Lougout</a></li>
                    {% else %}
                    <li><a class="nav-link" href="{% url 'basic_app:user_login' %}">Login</a></li>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block body_block %}
        {% endblock %}
    </div>


</body>
</html>